<nav class="container navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand " routerLink="/">All films</a>
    <div id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active border-right"
             routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active border-right" aria-current="page"
             routerLink="manage-films" routerLinkActive="active" >Manage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="new-films" routerLinkActive="active">New film</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


