<div class="row mt-2">
  <div class="card col-3 mt-2"  *ngFor="let film of films">
    <app-film-item [film]="film"></app-film-item>
    <button class="btn btn-danger" (click)="onDelete(film.id)">
      <ng-container *ngIf="!loading; else loadingSpinner">Delete</ng-container>
    </button>
    <ng-template #loadingSpinner>
      <div class="spinner-border" style="width: 2rem; height: 2rem;" role="status" *ngIf="loading">
      </div>
    </ng-template>
    </div>
</div>


