body{
  background: azure;
  height: 1500px;
  padding: 25px;
}
.footer{
  text-align: center;
  position:fixed;
  left: 0;
  bottom: 0;
  height:30px;
  width:100%;
  color: #fff;
}
hr{
  margin: 0;
}
