<form class="col-6 m-3" (ngSubmit)="createFilm()">
  <h4>Add new post</h4>
  <div class="mb-3">
    <label for="filmName">Name</label> <br>
    <input type="text" name="filmName" id="filmName"  #filmName />
  </div>
  <div class="mb-3  ">
    <label for="filmDate">Date</label> <br>
    <input name="filmDate" id="filmDate"#filmDate/>
  </div>
  <div class="mb-3  ">
    <label for="filmUrl">Image</label> <br>
    <input name="filmUrl" id="filmUrl" #filmUrl />
  </div>
  <div class="mb-3  ">
    <label for="filmInfo">Abut film</label> <br>
    <textarea name="filmInfo" id="filmInfo" cols="30" rows="5" #filmInfo></textarea>
  </div>
  <button type="submit" class="pr-3 shadow-sm" >
    <ng-container *ngIf="!loading; else loadingSpinner">Save</ng-container>
  </button>
</form>
<ng-template #loadingSpinner>
  <div class="spinner-border" style="width: 2rem; height: 2rem;" role="status" *ngIf="loading">
  </div>
</ng-template>

