<div class="card mb-2" *ngIf="film">
  <div class="row no-gutters m-2">
    <div class="col-sm-4">
      <img [src]="film.filmUrl" alt="{{film.filmName}}"
           style = "max-width:100%"
      />
    </div>
    <div class="col-sm-8">
      <div class="card-body">
        <h5 class="card-title">{{ film.filmName  }}</h5>
      </div>
    </div>
    <ng-content></ng-content>
  </div>
</div>

