<h4>Her you can see all films !</h4>
<div class="row mt-2" *ngIf="!loading ; else loadingSpinner">
  <div class="card col-4 mt-2" *ngFor="let film of films" >
    <app-film-item [film] = film>
      <p><strong>{{ film.filmDate}}</strong> year</p>
      <p>{{ film.filmInfo}}</p>
    </app-film-item>
  </div>
</div>
<ng-template #loadingSpinner>
  <div class="spinner" *ngIf="loading">
    <div class="spinner-grow text-success "
         style="width: 20rem; height: 20rem;">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-danger "
         style="width: 20rem; height: 20rem;">
    </div>
  </div>

</ng-template>

